.default-section-contact {
  min-height: 100vh;
  background-color: #050e1e;
}

.contact-container {
  padding: 64px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.contact-inner-container {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.contact-left {
  width: 40%;
}

.cl-contact-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.cl-text-container h1 {
  color: white;
  font-size: 40px;
}

.cl-text-container b {
  color: #1541d1;
}

.cl-text-container p {
  color: #d8d8d8;
  font-size: 20px;
}

.cl-contact-info-container {
  display: flex;
  align-items: center;
}

.cl-contact-item {
  display: flex;
  align-items: center;
  transition: all 0.8s;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 18px;
  padding-left: 18px;
  width: 320px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 13px;
  border: solid 2px rgba(0, 0, 0, 0%);
}

.cl-contact-item:hover {
  background-color: #0b1b39;
  border: solid 2px #1541d1;
}

.cl-contact-item i {
  color: #1541d1;
  font-size: 20px;
  margin-right: 15px;
}

.cl-social-media-container {
  display: flex;
  gap: 24px;
  bottom: 1;
}

.cl-social-media-container a {
  width: 50px;
  height: 50px;
}

.cl-social-media-container i {
  font-size: 20px !important;
}

.contact-right {
  width: 40%;
}

.cr-form-wrapper {
  position: relative;
}

.cr-form-container {
  background-color: #030914;
  padding: 20px;
  border-radius: 13px;
  min-height: 35rem;
}

.popup-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 0.2);
  border-radius: 13px;
  backdrop-filter: blur(2px);
}

@keyframes popup-hidden {
  from {
    z-index: 2;
    opacity: 1;
  }
  to {
    z-index: -1;
    opacity: 0;
  }
}

@keyframes popup-visible {
  from {
    z-index: -1;
    opacity: 0;
  }
  to {
    z-index: 2;
    opacity: 1;
  }
}

.popup-wrapper.hidden {
  opacity: 0;
  z-index: -1;
  animation: popup-hidden 0.33s ease-in-out;
}

.popup-wrapper.visible {
  opacity: 1;
  z-index: 2;
  animation: popup-visible 0.33s ease-in-out;
}

.popup-container {
  background-color: #0a1529;
  border-radius: 8px;
  padding: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.popup-icon {
  width: 64px;
  transition: all 0.33s ease-in-out;
}

.popup-wrapper.hidden .popup-icon {
  transform: translateY(-20px);
  opacity: 0;
}

.popup-wrapper.visible .popup-icon {
  transform: translateY(0px);
  opacity: 1;
}

.popup-title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

form {
  width: 100%;
  height: 100%;
}

form label {
  width: 100%;
}

form input,
form textarea {
  border: solid 2px #0d1f3a;
  border-radius: 13px;
  background-color: #030914;
  width: 100%;
  height: 45px;
  margin-bottom: 24px;
  margin-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.75);
}

form textarea {
  padding: 10px;
  resize: none;
}

#message-box {
  height: 140px;
}

form button {
  border-radius: 6px;
  background-color: #1541d1;
  border: none;
  padding: 12px 24px;

  font-size: 16px;
  color: white;

  margin-bottom: 6px;

  cursor: pointer;
}

.footer-container {
  width: 100%;
  height: 15vh;
  min-height: 140px;
  background-color: rgb(4, 10, 19);
  position: static;
  bottom: 0;
}

.footer-upper-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.footer-upper-inner-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-upper-inner-container i {
  opacity: 80%;
}

.footer-section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social-container-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
  width: 10%;
}

.social-item {
  padding-left: 10px;
  padding-right: 10px;
}

.social-item i {
  font-size: 1.4rem;
  color: white;
  opacity: 0.75;
  border: none;
}

.copyright-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 20%;
}

.copyright-footer p {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 10px;
  color: white;
  opacity: 0.2;
}

@media only screen and (max-width: 1280px) {
  .contact-inner-container {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .cl-contact-container {
    gap: 32px;
    align-items: center;
  }

  .contact-inner-container {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
  }

  .cl-contact-item {
    width: auto;
    text-align: center;
  }

  .contact-left {
    width: 80%;
  }

  .contact-right {
    width: 60%;
  }

  .cr-form-container {
    text-align: start;
  }
}

@media only screen and (max-width: 666px) {
  .contact-left,
  .contact-right {
    width: 90%;
  }

  .cl-text-container h1 {
    font-size: 28px;
  }
}
