.popup-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index: -1;
  opacity: 0;
  transition: all 0.25s;
}

.popup-header.active {
  z-index: 99;
  opacity: 1;
  transition: all 0s;
}

.popup-header .backdrop {
  height: 100%;
  flex: 1;
}

.popup-header.active .container {
  transform: translateX(0);
}

.container {
  width: 275px;
  padding: 32px;
  background-color: #050e1ec9;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: transform 0.25s;
  transform: translateX(100%);
  z-index: 100;
}

.container ul {
  text-align: end;
}

.container ul li {
  margin-bottom: 8px;
}

.container ul li a {
  color: rgb(255 255 255 / 0.6);
  text-decoration: none;
  font-size: 28px;
  font-weight: 500;
  transition: 0.4s;
  border-bottom: solid 2px rgba(0, 0, 0, 0%);
}

.container ul li a:hover {
  color: white;
}

.container ul li a.active {
  background-color: transparent !important;
  border: none;
}

.container ul li a.active2 {
  background-color: transparent !important;
  color: white;
  border-bottom: solid 2px #1541d1 !important;
}
