.header {
  position: fixed;
  z-index: 66;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: 0.8s;
}

.header-inner-container {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.header-nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav-bar ul {
  display: flex;
  margin-bottom: 0;
}

.header-nav-bar ul li {
  margin-left: 15px;
}

.header-nav-bar ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  opacity: 60%;
  transition: 0.8s;
  border-bottom: solid 2px rgba(0, 0, 0, 0%);
}

.header-nav-bar ul li .active {
  background-color: transparent !important;
  border: none;
}

.header-nav-bar ul li .active2 {
  background-color: transparent !important;
  border-bottom: solid 2px #1541d1 !important;
  opacity: 1 !important;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 50px;
  height: auto;
  margin-right: 15px;
  transition: 0.8s;
}

.header-logo h1 {
  font-weight: 700;
  font-size: 25px;
  color: white;
  line-height: 24px;
  margin-bottom: 0;
  transition: 0.8s;
}

.headerEffect {
  background-color: rgb(4, 10, 19, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 4rem;
  border-bottom: 2px;
}

.headerEffect > .header-inner-container > .header-nav-bar ul li a {
  font-size: 18px;
}

.headerEffect > .header-inner-container > .header-logo h1 {
  font-size: 20px;
}

.headerEffect > .header-inner-container > .header-logo img {
  width: 35px;
  height: auto;
  margin-right: 10px;
}

@media only screen and (max-width: 1150px) {
  .header-logo h1 {
    display: none;
    visibility: hidden;
  }
}
