a:link {
  color: white;
  background-color: unset;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: unset;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: unset;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: unset;
  text-decoration: none;
}

.default-inner-section {
  align-items: unset !important;
}

.projects {
  background-color: #0a1529;
  z-index: 1;
}

.project-text-container {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.project-text-container h1 {
  text-align: center;
  font-size: 40px;
  color: white;
}

.project-text-container h1 > b {
  color: #1541d1;
}

.prjct-text-container {
  display: flex;
  justify-content: center;
}

.prjct-text-container p {
  font-size: 20px;
  text-align: center;
  color: #d8d8d8;
  width: 750px;
}

.project-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-gap: 25px;
  grid-auto-flow: dense;
}

.project-grid-item {
  transform: scale(1);
  background-color: none;
  border: solid 2px #071020;
  padding: 25px;
  border-radius: 13px;
  transition: 0.8s;
  cursor: pointer;
}

.project-grid-item:hover {
  transform: scale(1.01);
  background-color: #1541d1;
  border: solid 2px #03279d;
}

.event-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.event-type > p {
  opacity: 40%;
  font-size: 13px;
}

.prjct-text-cont {
  margin-bottom: 15px;
}

.prjct-text-cont > h1 {
  font-size: 22px;
}

.prjct-text-cont > p {
  font-size: 16px;
  color: #d8d8d8;
}

.button-view-more > a {
  font-size: 14px;
}
