.review {
  background-color: #050e1e;
  z-index: 1;
}

.inner-section-review {
  display: flex;
  height: 100vh;
}

.tm-text-container h1 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 100px;
}

.tm-text-container h1 b {
  color: #1541d1;
}

.tm-lower-container {
  display: flex;
}

.tm-select {
  width: 35%;
}

.select-opt {
  width: 100%;
  display: flex;
  border-radius: 13px;
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.4s;
  border: solid 2px #1541d100;
}

.select-opt:not(.active-opt):hover {
  background-color: #0b1b39;
  border: solid 2px #1541d1;
}

.active-opt {
  background-color: #0e244d;
  border: solid 2px #1541d1;
}

.select-avatar {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 20px;
}

.sa-img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 100%;
}

.select-text {
  display: flex;
  align-items: center;
}

.select-text-inner h1 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.select-text-inner p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #d8d8d8;
}

.tm-divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tm-divider {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 25px;
  margin-bottom: 25px;
}

.tm-selected-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  width: 75%;
}

@keyframes tm-selected-inactive {
  0% {
    z-index: 2;
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 0;
    z-index: -1;
    transform: translateY(100px);
  }
}

@keyframes tm-selected-active {
  from {
    z-index: -1;
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    z-index: 2;
    opacity: 1;
    transform: translateY(0px);
  }
}

.tm-selected {
  grid-row-start: 1;
  grid-column-start: 1;
  opacity: 0;
  z-index: -1;
  animation: tm-selected-inactive 600ms ease-in-out;
}

.tm-selected-active {
  opacity: 1;
  z-index: 2;
  animation: tm-selected-active 600ms ease-in-out;
}

.tm-selected-item {
}

.tm-selected-inner-item h1 {
  font-size: 22px;
  color: white;
  font-weight: 600;
}

.tm-selected-inner-item p {
  font-size: 16px;
  font-style: italic;
  color: #d8d8d8;
  max-width: 600px;
}

.company-container {
}

.company-inner-container {
}

.company-info {
  display: flex;
  align-items: center;
}

.company-info img {
  width: 80px;
  height: auto;
}

.company-info h1 {
  font-size: 22px;
  font-weight: 500;
  color: #d8d8d8;
  margin-left: 20px;
}

@media only screen and (max-width: 1024px) {
  .tm-select {
    width: 100%;
  }

  .tm-lower-container {
    flex-direction: column;
    gap: 64px;
  }

  .tm-selected-wrapper {
    justify-items: flex-start;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .tm-selected {
    width: 100%;
  }

  .company-info {
    justify-content: center;
  }
}
