.review {
  background-color: #050e1e;
  z-index: 1;
}

.inner-section-review {
  display: flex;
  height: 100vh;
}

.tm-text-container h1 {
  font-size: 40px;
}

.tm-text-container h1 b {
  color: #1541d1;
}

.tm-lower-container {
  display: flex;
}

.tm-select {
  width: 35%;
}

.select-opt {
  width: 100%;
  display: flex;
  border-radius: 13px;
  padding: 20px;
  margin-bottom: 10px;
}

.select-avatar {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 20px;
}

.sa-img {
  width: 75px;
  height: 75px;

  background-image: url(./../../../images/emil-lundvall.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 100%;
}

.select-text {
  display: flex;
  align-items: center;
}

.select-text-inner h1 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.select-text-inner p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.tm-selected {
}
