.services {
  background-color: #050e1e;
  z-index: 1;
}

.hidden {
  display: none;
}

.upper-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

.upper-right-nav-bar ul {
  display: flex;
  margin-bottom: 0;
}

.upper-right-nav-bar ul li {
  margin-left: 10px;
}

.upper-right-nav-bar ul li a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
}

.upper-right-container {
  width: 675px;
  min-width: 400px;
}

.upper-left-container {
  width: 530px;
}

.uc-title-container h1 {
  color: white;
  font-size: 40px;
}

.uc-title-container h1 b {
  color: #1541d1;
  font-size: 40px;
}

.uc-text-container p {
  font-size: 22px;
  font-weight: 500;
  color: #d8d8d8;
  width: 90%;
}

.uc-btn-container {
  padding-top: 30px;
}

.read-more-btn {
  border: solid 1px #1541d1;
  border-radius: 6px;
  background-color: #1541d1;
  padding: 12px 24px;
  cursor: pointer;
}

.mc-title-container h1 {
  color: white;
  font-size: 40px;
}

.mc-title-container h1 b {
  color: #1541d1;
}

.mc-text-container p {
  font-size: 22px;
  font-weight: 500;
  color: #d8d8d8;
  width: 90%;
}

.btn-container-full {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

.first-li {
  margin-left: 0 !important;
}

.lower-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5%;
}

.upper-right-text-containers p {
  color: #d8d8d8;
  font-size: 16px;
}

.lower-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 35px;
  grid-auto-flow: dense;
}

.lower-grid-item {
  transform: scale(1);
  background-color: none;
  border: solid 2px #050b16;
  padding: 25px;
  border-radius: 13px;
  transition: 0.8s;
  cursor: pointer;
  min-height: 250px;
}

.lower-grid-item:hover {
  transform: scale(1.01);
  background-color: #1541d1;
  border: solid 2px #03279d;
}

.grid-item-row-1 img {
  width: 65px;
  height: auto;
}

.grid-item-row-2 h1 {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.grid-item-row-3 p {
  font-size: 13px;
  font-weight: 400;
  color: #d8d8d8;
}

.info-section {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.info-container p {
  font-size: 16px;
  font-weight: 500;
  color: #d8d8d8;
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (max-width: 900px) {
  .upper-container {
    display: flex;
    justify-content: space-between;
  }

  .uc-title-container h1 {
    font-size: 35px;
  }

  .uc-title-container h1 b {
    font-size: 35px;
  }

  .uc-text-container p {
    font-size: 18px;
  }

  .mc-title-container h1 {
    font-size: 35px;
  }

  .mc-title-container h1 b {
    font-size: 35px;
  }

  .mc-text-container p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 850px) {
  .upper-container {
    flex-direction: column;
  }

  .mc-text-container {
    padding-top: 5%;
  }

  .uc-text-container {
    text-align: center;
  }

  .mc-text-container {
    text-align: center;
    padding-top: 10%;
  }

  .uc-text-container p {
    width: 100%;
  }

  .mc-text-container p {
    width: 100%;
  }

  .info-container {
    text-align: center;
  }
}

@media only screen and (max-width: 666px) {
  .uc-title-container h1 {
    font-size: 30px;
  }

  .mc-title-container h1 {
    font-size: 30px;
  }

  .home-text-container p {
    font-size: 18px;
  }

  .uc-text-container p {
    font-size: 16px;
  }

  .mc-text-container p {
    font-size: 16px;
  }

  .info-container p {
    font-size: 13.5px;
  }
}

@media only screen and (max-width: 525px) {
  .lower-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 15px;
    grid-auto-flow: dense;
  }

  .grid-item-row-2 h1 {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 2%;
  }
}
