* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  word-wrap: break-word;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a {
  cursor: pointer;
}

b {
  font-weight: 700;
}

.website-container {
  height: 100vh;
  min-height: 930px;
  width: 100%;
}

.default-section {
  min-height: 100vh;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-inner-section {
  width: 80%;
  max-width: 1600px;
}

.default-inner-section-home {
  width: 80%;
  max-width: 1600px;
  display: flex;
}

.home {
  z-index: -1;
}

.case {
  z-index: 2;
}

.review {
  z-index: 1;
}

.disable {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 1600px) {
  .default-inner-section {
    width: 87%;
    max-width: 1600px;
  }
}

@media only screen and (max-width: 1024px) {
  .default-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
